### Data preprocessing and assessing -  COVLEA RADU-ALIN

> Voi incepe acest proiect prin a importa package-ul necesar realizarii lui. Am considerat ca singurul package necesar este "pandas"

In [1]:
import pandas as pd

> Am incarcat seturile de date, am folosit parametrul 'on_bad_lines' pentru a evita erorile asociate lipsei de date si neprelucrarii datelor

In [2]:
facebook_data = pd.read_csv('C:\\Users\\user\\Desktop\\datasets\\facebook_dataset.csv', on_bad_lines='skip')
google_data = pd.read_csv('C:\\Users\\user\\Desktop\\datasets\\google_dataset.csv', on_bad_lines='skip', low_memory=False)
website_data = pd.read_csv('C:\\Users\\user\\Desktop\\datasets\\website_dataset.csv', sep=';', on_bad_lines='skip')

In [3]:
print(facebook_data.columns)
print(google_data.columns)
print(website_data.columns)

Index(['domain', 'address', 'categories', 'city', 'country_code',
       'country_name', 'description', 'email', 'link', 'name', 'page_type',
       'phone', 'phone_country_code', 'region_code', 'region_name',
       'zip_code'],
      dtype='object')
Index(['address', 'category', 'city', 'country_code', 'country_name', 'name',
       'phone', 'phone_country_code', 'raw_address', 'raw_phone',
       'region_code', 'region_name', 'text', 'zip_code', 'domain'],
      dtype='object')
Index(['root_domain', 'domain_suffix', 'language', 'legal_name', 'main_city',
       'main_country', 'main_region', 'phone', 'site_name', 'tld',
       's_category'],
      dtype='object')

> In ceea ce urmeaza am redenumit coloanele comune pentru uniformitate si pentru a ma putea referi la ele ulterior

In [4]:
facebook_subset = facebook_data[['name','address','city','region_name','country_name', 'domain', 'categories', 'phone']]
facebook_subset.columns = ['company_name', 'address', 'city', 'region', 'country', 'domain', 'category', 'phone']
facebook_subset.head()

google_subset = google_data[['name', 'address', 'city', 'region_name', 'country_name', 'domain', 'category', 'phone']]
google_subset.columns = ['company_name', 'address', 'city', 'region', 'country', 'domain', 'category', 'phone']
google_subset.head()

website_subset = website_data[['legal_name', 'main_city', 'main_region', 'main_country', 'root_domain', 's_category', 'phone']]
website_subset.columns = ['company_name', 'city', 'region', 'country', 'domain', 'category', 'phone']
website_subset.head()

,company_name,city,region,country,domain,category,phone
0,NaN,NaN,NaN,NaN,converterman.com,NaN,NaN
1,NaN,cardigan,prince edward island,canada,clothesencounter.ca,Shoes & Other Footwear Stores,13066937766
2,Investa Wholesale Funds Management Limited,brisbane,queensland,australia,investa.com.au,Real Estate Developers,61282269300
3,Timmins Garage Inc.,timmins,ontario,canada,timminsgarage.com,Automobile Dealers & Manufacturers,18775896640
4,Destinate Group Ltd.,NaN,NaN,Canada,destinate.ca,Business Consulting,NaN

> Am combinat seturile de date folosing ca si punct fix pentru join coloana "company_name", intrucat este esentiala si orice firma este obligatoriu sa o aiba. Daca nu exista numele companiei, atunci firma trebuie exclusa din dataset sau sa organizam o munca titanica facand research cu informatiile pe care le avem la dispozitie, dar nu cred ca este cazul :) De asemenea, am adaugat sufixe pentru a stii carui dataset ii corespunde fiecare valoare. Este util in faza preliminara prelucrarii datelor, insa pentru dataset-ul de websites am considerat ca ii voi asocia un sufix doar daca exista conflict de date.

In [5]:
merged_companies = pd.merge(facebook_subset, google_subset, on='company_name', how='outer', suffixes=('_fb', '_gg'))
merged_companies = pd.merge(merged_companies, website_subset, on='company_name', how='outer', suffixes=('', '_wb'))
merged_companies.sample(10)

,company_name,address_fb,city_fb,region_fb,country_fb,domain_fb,category_fb,phone_fb,address_gg,city_gg,...,country_gg,domain_gg,category_gg,phone_gg,city,region,country,domain,category,phone
214082,Lifemark Physiotherapy North Bramalea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"9780 Bramalea Rd #302, Brampton, ON L6S 2P1, C...",brampton,...,canada,lifemark.ca,Sports Medicine & Physical Therapy,+18665364901,NaN,NaN,NaN,NaN,NaN,NaN
503007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,smithvilleschooldistrict.net,NaN,NaN,belleville,ontario,canada,thedressingroombelleville.ca,Clothing Stores,16139667171
1392435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,uwm.edu,"Executive, Legislative & Government Institutions",NaN,st. catharines,ontario,canada,pocketchange.online,Watches & Jewelry Stores,19056856868
129766,Fall Back Down Tattoo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"480 E Columbia St, New Westminster, BC V3L 3X5...",new westminster,...,canada,instagram.com,Tattoo & Piercing Parlors,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,smithvilleschooldistrict.net,NaN,NaN,fischbachau,bavaria,germany,chrispacks.com,Sporting Goods Store,12024012017
149833,Grace Christian School - West Columbia,NaN,NaN,NaN,NaN,gracelions.com,Community Center|Elementary Schools,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
966176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,laworks.net,Employment Agencies & HR Consulting,NaN,wellington,ontario,canada,hilliercreekwinery.ca,Wine Shops & Wineries,16133995114
1151116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,uvahealth.com,NaN,NaN,guelph,ontario,canada,luxeflooring.ca,Flooring Contractors,15197639191
635625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,instagram.com,NaN,NaN,kruiningen,provincie zeeland,netherlands,zwembaddeninkel.nl,Swimming school,31113320144
332148,South Sumter Library,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"337 Manning Ave, Sumter, SC 29150",sumter,...,united states,sumtercountylibrary.org,NaN,+18037757132,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
print(merged_companies.columns)

Index(['company_name', 'address_fb', 'city_fb', 'region_fb', 'country_fb',
       'domain_fb', 'category_fb', 'phone_fb', 'address_gg', 'city_gg',
       'region_gg', 'country_gg', 'domain_gg', 'category_gg', 'phone_gg',
       'city', 'region', 'country', 'domain', 'category', 'phone'],
      dtype='object')

> Am creat o copie a dataframe-ului curent pentru a avea un checkpoint la care sa ma intorc in cazul in care voi gresi, ceea ce s-a si intamplat :)

In [10]:
merged_companies_v1 = merged_companies.copy()
merged_companies_v1.head()

,company_name,address_fb,city_fb,region_fb,country_fb,domain_fb,category_fb,phone_fb,address_gg,city_gg,...,country_gg,domain_gg,category_gg,phone_gg,city,region,country,domain,category,phone
0,!MPACT Theatre,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Drama Theatre, Willenhall E-ACT Academy, Furze...",willenhall,...,united kingdom,linktr.ee,Theatres & Theatrical Services,+447891688502,NaN,NaN,NaN,NaN,NaN,NaN
1,# 9 Auto Sales Ltd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"690 Queen St W, Brampton, ON L6X 3E1, Canada",brampton,...,canada,9autosales.ca,Automobile Dealers & Manufacturers,+12898065355,NaN,NaN,NaN,NaN,NaN,NaN
2,#1 Entertainment LLC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3333 Parker St, Omaha, NE 68111",omaha,...,united states,facebook.com,Entertainers,+14022250915,NaN,NaN,NaN,NaN,NaN,NaN
3,#1 IT Support & Services Company in Winnipeg |...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,winnipeg,manitoba,canada,avenirit.com,Cybersecurity,12042894084
4,#1 Nails,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"5050 Interstate 55 North Frontage Rd, Jackson,...",jackson,...,united states,facebook.com,Beauty Salons,+17692304044,NaN,NaN,NaN,NaN,NaN,NaN

> Pentru a rezolva conflictele de date am ales sa completez cu prima valoare non-null pe care o gasesc asociata fiecarei coloane si observatii. Am considerat aceasta solutie ca fiind fiabila, presupunand ca dataset-urile nu contin informatii gresite si pentru ca nu a fost prezentat in descrierea proiectului daca unul dintre dataset-uri este mai trustworthy decat altul.

> Coloana "company_name" nu a fost inclusa, deoarece riscam valori duplicate si alte probleme in urma utilizarii acesteia pentru merging

In [15]:
merged_companies_v1['address'] = merged_companies['address_fb'].combine_first(merged_companies['address_gg'])
merged_companies_v1['city'] = merged_companies['city_fb'].combine_first(merged_companies['city_gg']).combine_first(merged_companies['city'])
merged_companies_v1['region'] = merged_companies['region_fb'].combine_first(merged_companies['region_gg']).combine_first(merged_companies['region'])
merged_companies_v1['country'] = merged_companies['country_fb'].combine_first(merged_companies['country_gg']).combine_first(merged_companies['country'])
merged_companies_v1['domain'] = merged_companies['domain_fb'].combine_first(merged_companies['domain_gg']).combine_first(merged_companies['domain'])
merged_companies_v1['category'] = merged_companies['category_fb'].combine_first(merged_companies['category_gg']).combine_first(merged_companies['category'])
merged_companies_v1['phone'] = merged_companies['phone_fb'].combine_first(merged_companies['phone_gg']).combine_first(merged_companies['phone'])

> Am renuntat acum la coloanele cu sufix, intrucat am populat coloanele care vor face obiectul proiectului cu informatie

In [16]:
merged_companies_v1 = merged_companies_v1.drop(columns=['address_fb','city_fb','region_fb','country_fb','domain_fb','category_fb','phone_fb',
                              'address_gg','city_gg','region_gg','country_gg','domain_gg','category_gg','phone_gg'])

> Revizuirea procesului prin comenzi cum ar fi "info", "describe" sau "sample" este un proces esential pentru a observa progresul sau in cazuri nefericite regresul. Observam ca datatype-ul pentru fiecare coloana este corect, neavand valori explicit numerice, insa utilizarea memoriei este foarte mare din cauza neprelucrarii datelor

In [18]:
merged_companies_v1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1692803 entries, 0 to 1692802
Data columns (total 8 columns):
 #   Column        Dtype
---  ------        -----
 0   company_name  object
 1   city          object
 2   region        object
 3   country       object
 4   domain        object
 5   category      object
 6   phone         object
 7   address       object
dtypes: object(8)
memory usage: 103.3+ MB

In [21]:
merged_companies_v1.sample(10)

,company_name,city,region,country,domain,category,phone,address
779845,NaN,laval,quebec,canada,loraincounty.us,Auto Electrical Equipment,15149422121,NaN
747531,NaN,wageningen,provincie gelderland,netherlands,lewiscountywa.gov,Restaurants,31317421410,NaN
587849,NaN,mississauga,ontario,canada,coastalalabama.edu,Middle Schools,16473233862,NaN
484215,NaN,kitchener,ontario,canada,scotlandcounty.org,Spa & Wellness Centers,12267508775,NaN
824467,NaN,NaN,NaN,NaN,maisky.ca,Auto Dent Removal Service,15146177777,NaN
1215477,NaN,NaN,NaN,NaN,choicehotels.com,Waterproofing Services,15874365610,NaN
53313,Brookdale Faribault,faribault,minnesota,united states,brookdale.com,Nursing & Personal Care,+15073332559,"935 Spring Rd, Faribault, MN 55021"
1484168,NaN,midland,ontario,canada,laworks.net,"Executive, Legislative & Government Institutions",17055263058,NaN
149945,Graceland Travel Agency,NaN,NaN,NaN,facebook.com,Travel Agencies,+14026121026,NaN
1268377,NaN,menlo park,california,united states,laworks.net,"Executive, Legislative & Government Institutions",19059019545,NaN

In [28]:
merged_companies_v2 = merged_companies_v1.copy()

> Cum am spus mai sus, companiile fara nume ar trebui inlaturate, intrucat este identificatorul cheie si avem foarte multe astfel de situatii

In [88]:
merged_companies_v1['company_name'].isnull().sum()

np.int64(1280928)

In [89]:
merged_companies_v1 = merged_companies_v1.dropna(subset=['company_name'])

> Dupa cum vedem mai jos, deja este o imbunatatire semnificativa doar prin inlaturarea valorilor nule din coloana "company_name". Avem mult mai putina informatie redundanta.

In [90]:
merged_companies_v1.describe()

,company_name,city,region,country,domain,category,phone,address
count,411875,351383,351217,352521,411873,353886,363591,355518
unique,407686,23341,1659,276,71994,10327,324776,311953
top,"Blackboard, Inc.",calgary,ontario,united states,facebook.com,Clinics - Surgeons & Physicians,+448004962459,"Montreal, Quebec, Canada"
freq,211,6868,55251,135805,69358,17106,750,933

> In cazul in care exista observatii care au informatii identice in coloanele "company_name", "phone" si "address" am renuntat la ele.

In [94]:
merged_companies_v1 = merged_companies_v1.drop_duplicates(subset=['company_name', 'phone', 'address'])
merged_companies_v1 = merged_companies_v1.reset_index(drop=True)

> Mai jos am observat ca, de exemplu, compania "jc hiit club" are exact aceleasi informatii duplicate si, cu siguranta, nu este un caz special :) Sunt multe astfel de observatii duplicate si voi scrie mai jos ce decizie am luat.

In [95]:
duplicates = merged_companies_v1[merged_companies_v1.duplicated(subset=['company_name'], keep=False)]
print(duplicates.tail(12))

                company_name               city  \
404484           eChalk Inc.           herminie
404485           eChalk Inc.       rock springs
405544          jc hiit club        jersey city
405545          jc hiit club        jersey city
406740                turkey          balikesir
406741                turkey           istanbul
406742                turkey            antalya
406885         uConnect Inc.             denton
406886         uConnect Inc.       grand rapids
406887         uConnect Inc.  ponte vedra beach
411184  🏆 Freedom Heavy Haul                NaN
411185  🏆 Freedom Heavy Haul                NaN

                                    region        country  \
404484                        pennsylvania  united states
404485                             wyoming  united states
405544                          new jersey  united states
405545                          new jersey  united states
406740              Anadolu Saglik Merkezi    9.02627E+11
406741                Ihlas Pazarlama A.S.      904444949
406742  Alumen Mimari Cephe Sistemleri AS.    9.02423E+11
406885                               texas  united states
406886                            michigan  united states
406887                             florida  united states
411184                                 NaN            NaN
411185                                 NaN            NaN

                       domain                        category         phone  \
404484            youghsd.net                    High Schools   17244467272
404485        sweetwater1.org                    High Schools   13073523400
405544          instagram.com  Gyms, Fitness & Health Centers  +12012545406
405545           calendly.com  Gyms, Fitness & Health Centers  +12012545406
406740      anadolusaglik.org                             NaN           org
406741  ihlaspazarlama.com.tr                             NaN            tr
406742         alumenyapi.com                             NaN           com
406885                twu.edu             Research Institutes   19408982000
406886            aquinas.edu         Colleges & Universities   16166322126
406887        sacredheart.edu         Colleges & Universities   12033717999
411184        yellowpages.com          Trucking and Logistics  +14808781081
411185         angieslist.com                             NaN  +17812535288

                                                  address
404484                                                NaN
404485                                                NaN
405544  911 Bergen Ave, Jersey City, NJ 07306, United ...
405545              911 Bergen Ave, Jersey City, NJ 07306
406740                                                NaN
406741                                                NaN
406742                                                NaN
406885                                                NaN
406886                                                NaN
406887                                                NaN
411184                                                NaN
411185                                                NaN

In [97]:
merged_companies_v3 = merged_companies_v1.copy()

> Bineinteles, dupa ce m-am asigurat ca am un checkpoint, decizia mea a fost sa inlatur observatiile care au acelasi numar de telefon si aceeasi adresa, intrucat dupa ce am analizat dataset-ul mi-am dat seama ca o companie poate sa aiba acelasi nume, insa multiple sedii care se afla in orase sau regiuni diferite. Chiar si asa, fiecare sediu al companiei ar trebui sa aiba un numar de telefon si o adresa de sine statatoare. Ca si adaugare, am ales sa izolez valorile nule de care avem nevoie si sa pastrez prima valoare in cazul duplicatelor din aceleasi motive ca mai sus, nu este specificat daca un dataset are prioritate in considerarea alegerii informatiilor fata de altul.

In [131]:
nan_phone = merged_companies_v1[merged_companies_v1['phone'].isna()]
merged_companies_v1_cleaned = merged_companies_v1.dropna(subset=['phone']).drop_duplicates(subset=['phone'], keep='first')
merged_companies_v1 = pd.concat([merged_companies_v1_cleaned, nan_phone])

nan_address = merged_companies_v1[merged_companies_v1['address'].isna()]
merged_companies_v1_cleaned = merged_companies_v1.dropna(subset=['address']).drop_duplicates(subset=['address'], keep='first')
merged_companies_v1 = pd.concat([merged_companies_v1_cleaned, nan_address])

merged_companies_v1 = merged_companies_v1.reset_index(drop=True)

In [93]:
merged_companies_v1.sample(6)

,company_name,city,region,country,domain,category,phone,address
18093,Amazon Locker - Gigi,burton-on-trent,england,united kingdom,amazon.co.uk,Shipping Couriers,+448004962459,"Shell Horninglow Service Station, Derby Road, ..."
186203,Jack Cross Property Services,burton-on-trent,england,united kingdom,facebook.com,Building Material Manufacturers,+447899887475,"7+ years in business · Burton-on-Trent, United..."
10615,Advantest America Inc. Phoenix,chandler,arizona,united states,advantest.com,Industrial Machinery & Supplies,NaN,"5550 W Chandler Blvd, Chandler, AZ 85226"
240440,Mirella and Lino Saputo Theatre,saint-leonard,quebec,canada,cldv.ca,NaN,+15149558370,"8370 Boulevard Lacordaire, Saint-Leonard, Queb..."
80488,Coach Road Post Office,shipley,england,united kingdom,postoffice.co.uk,Shipping Couriers,+441274587289,"93 Coach Rd, Shipley BD17 7LT, United Kingdom"
81076,Coda Enterprises,nanaimo,british columbia,canada,bit.ly,Digital & Marketing Agencies,+12507533783,"1287 Strathmore St, Nanaimo, BC V9S 2M1, Canada"

> Vedem mai jos un upgrade mare, in continuare scapam de informatia redundanta si continuam cu procesarea datelor. Memory usage-ul este mult mai acceptabil acum.

In [103]:
merged_companies_v1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345375 entries, 0 to 345374
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   company_name  345375 non-null  object
 1   city          291013 non-null  object
 2   region        290866 non-null  object
 3   country       292077 non-null  object
 4   domain        345373 non-null  object
 5   category      295783 non-null  object
 6   phone         301188 non-null  object
 7   address       292221 non-null  object
dtypes: object(8)
memory usage: 21.1+ MB

> Am folosit o functie pentru a inlocui toate valorile nule cu "Unknown" pentru ca dataset-ul sa fie usor de inteles pentru oricine il citeste. Lizibilitatea este un factor important al datelor, asta am fost invatat in cursul de Data Analyst pe care l-am absolvit.

In [104]:
def replace_nan_with_unknown(df):
    return df.fillna('Unknown')

merged_companies_v1 = replace_nan_with_unknown(merged_companies_v1)

> Am vrut sa vad si o suma a valorilor "Unknown" si aparent nu este asa infricosator avand in vedere numarul de observatii pe care le avem.

In [133]:
print(merged_companies_v1.apply(lambda x: (x == 'Unknown').sum()))

company_name        0
city            13239
region          13364
country         13080
domain              2
category        31709
phone               1
address             1
dtype: int64

> Am observat cea mai problematica coloana, si anume "phone" care nu avea un format uniform. Numerele de telefon erau corecte, stiu asta pentru ca am facut research, insa nu apareau cu acel semn de "+" in fata care indica sufixul aferent fiecarei tari si l-am adaugat tot prin folosirea unei functii in cazul in care acesta nu se regaseste deja.

> Alta problema a fost terminatia unor valori ale acestei coloane cu ".0", insa cum datele nu sunt numerice de tip float sau double am folosit si aici o functie pentru a preschimba datele in tipul string, deoarece primeam o eroare care spunea ca trebuie sa schimb datatype-ul pentru a putea face asemenea operatii (din cauza valorilor "Unknown") si scopul principal al functiei este de a renunta la acele terminatii specifice valorilor numerice.

In [138]:
merged_companies_v1['phone'] = merged_companies_v1['phone'].apply(lambda x:x if x.startswith('+') else f'+{x}')
merged_companies_v1['phone'] = merged_companies_v1['phone'].astype(str).apply(lambda x: x.rstrip('.0') if x.endswith('.0') else x)

In [145]:
merged_companies_v1.sample(20)

,company_name,city,region,country,domain,category,phone,address
56372,Community Connectors Info Center,Worthington,Minnesota,United States,isd518.net,Schools,+15073722172,"1117 Marine Ave, Worthington, MN 56187"
138182,Lighthouse Electrique Inc.,Montreal,Quebec,Canada,lighthouseelectrique.ca,General Contractors|Electrical & Wiring Contra...,+15149093773,"h4m 2w5, montreal, qc, canada, quebec"
71867,"Dr. Ashit I. Saheba, MD",El Paso,Texas,United States,concentra.com,Clinics - Surgeons & Physicians,+19157722111,"6320 Gateway Blvd E, El Paso, TX 79905, United..."
255105,Zhuta Universal Martial Arts,Waterbury,Connecticut,United States,facebook.com,"Sports & Leisure - Clubs, Fields & Pitches",+12037688756,"1806 E Main St, Waterbury, CT 06705"
104264,Haryana,Toulouse,Occitanie,France,facebook.com,Spa & Wellness Centers,+33534551244,"6 Rue de la Laque, 31300 Toulouse, France"
157542,Mount Wise Swimming Pools,Plymouth,England,United Kingdom,everyoneactive.com,"Sports & Leisure - Clubs, Fields & Pitches",+441752306265,"James St, Plymouth PL1 4HG, United Kingdom"
221413,THE CORNER ROOM Hair Salon,Hamilton,Ontario,Canada,thecornerroom.ca,Beauty Salons,+19052977900,"1403 King St E, Hamilton, ON L8M 1H7, Canada"
38715,CASE Building,Philadelphia,Pennsylvania,United States,phila.gov,"Executive, Legislative & Government Institutions",+12156850060,"4300 S Concourse Dr St, Philadelphia, PA 19131"
92449,GP Motorcycles,Pontypridd,Wales,United Kingdom,facebook.com,Motorcycle Repair Shops,+441443480777,"Unit 3, Maritime Workshops, Maritime Ind Est, ..."
14949,Ape Motorcycles,Kettering,England,United Kingdom,facebook.com,Motorcycle Repair Shops,+441536516078,"178 Regent St, Kettering NN16 8QH, United Kingdom"
196514,Royal Oaks Elementary School,Sun Prairie,Wisconsin,United States,sunprairieschools.org,Middle Schools,+16088347200,"2215 Pennsylvania Ave, Sun Prairie, WI 53590, ..."
74597,E.S. Print Media Inc.,Manila,Metro Manila,Philippines,esprintmedia.com,Commercial Printing,+63285511004,"2305 Marconi, Manila, Metro Manila, Philippines"
116173,Images Salon Inc.,Toronto,Ontario,Canada,imagessalon.ca,Hair Salons,+14162820881,"6 rylander blvd, m1b 0b6, toronto, on, canada,..."
154921,Mobility Centre Rotorua Retail Partner QE Heal...,Rotorua,Bay Of Plenty,New Zealand,bit.ly,Medical Supply Retailers,+6473480189,Mobility Centre Rotorua Retail Partner QE Heal...
28452,Bexhill Amateur Boxing Club,Bexhill,New South Wales,Australia,facebook.com,"Sports & Leisure - Clubs, Fields & Pitches",+447840914432,"Homewarr House, Rear of, De La Warr Parade, Be..."
225674,The Cabinet Salon,Toronto,Ontario,Canada,thecabinetsalon.com,Beauty Salons,+16473443132,"577 Queen St W, Toronto, ON M5V 2B6, Canada"
51756,"CityPro Aluminum - Siding, Eavestrough, Roofin...",Etobicoke,Ontario,Canada,cityproaluminum.com,Aluminum Processing & Products,+14168252545,"1401 The Queensway Unit # 13, Etobicoke, ON M8..."
169739,Old Mutual Thohoyandou Corner House,Thohoyandou,Limpopo,South Africa,oldmutual.co.za,Banks & ATMs,+27155054786,"Shop 5 & 6 Corner House, Casino Blvd, Thohoyan..."
74295,Dynamic Tree Services Inc,Unknown,Unknown,Unknown,dynamictreeservices.com,Tree Services|Tree Services,+16048300998,"100 pk royal ave # 200, v7t1a2, west vancouver..."
180445,Plaza Liquor Store,Chilliwack,British Columbia,Canada,facebook.com,Wine Shops & Wineries,+16047929253,"46298 Yale Rd, Chilliwack, BC V2P 2P6, Canada"

> Am mai folosit o functie pentru a elimina "+" din valorile "Unknown", aceasta problema fiind o consecinta a functiei de mai sus.

In [148]:
merged_companies_v1['phone'] = merged_companies_v1['phone'].apply(lambda x: "Unknown" if x=='+Unknown' else x)

> Pentru o scriere corecta si o lizibilitate mai buna am asociat uppercase tuturor cuvintelor care se afla in coloanele "city", "region" si "country". In coloana "address" nu erau probleme.

In [122]:
merged_companies_v1['city'] = merged_companies_v1['city'].str.title()
merged_companies_v1['region'] = merged_companies_v1['region'].str.title()
merged_companies_v1['country'] = merged_companies_v1['country'].str.title()

In [150]:
merged_companies_v1.head()

,company_name,city,region,country,domain,category,phone,address
0,!MPACT Theatre,Willenhall,England,United Kingdom,linktr.ee,Theatres & Theatrical Services,+447891688502,"Drama Theatre, Willenhall E-ACT Academy, Furze..."
1,# 9 Auto Sales Ltd,Brampton,Ontario,Canada,9autosales.ca,Automobile Dealers & Manufacturers,+12898065355,"690 Queen St W, Brampton, ON L6X 3E1, Canada"
2,#1 Entertainment LLC,Omaha,Nebraska,United States,facebook.com,Entertainers,+14022250915,"3333 Parker St, Omaha, NE 68111"
3,#1 Nails,Jackson,Mississippi,United States,facebook.com,Beauty Salons,+17692304044,"5050 Interstate 55 North Frontage Rd, Jackson,..."
4,#1 Pro Nails,Seattle,Washington,United States,facebook.com,Beauty Salons,+12062709695,"18 Roy St, Seattle, WA 98109"

> Mai jos sunt informatiile despre output-ul final asociat dataset-ului prelucrat pe care l-am incarcat. Informatiile sunt identice ca si cele din dataset si prin prelucrare obtinem o imbunatatire evidenta, nu mai exista valori nule, memoria folosita este mult mai mica, am scapat de duplicated si acum avem un dataset mult mai curat.

In [151]:
merged_companies_v1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258776 entries, 0 to 258775
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   company_name  258776 non-null  object
 1   city          258776 non-null  object
 2   region        258776 non-null  object
 3   country       258776 non-null  object
 4   domain        258776 non-null  object
 5   category      258776 non-null  object
 6   phone         258776 non-null  object
 7   address       258776 non-null  object
dtypes: object(8)
memory usage: 15.8+ MB

In [132]:
merged_companies_v1.describe()

,company_name,city,region,country,domain,category,phone,address
count,258776,258776,258776,258776,258776,258776,258776,258776
unique,257339,20128,1394,184,64831,8089,258776,258776
top,Lincoln Elementary School,Unknown,Ontario,United States,facebook.com,Unknown,+12042894084,Unknown
freq,18,13239,38845,98423,49832,31709,1,1

> Prin urmatoarea functie m-am asigurat ca putem afisa valorile coloanei "problematice" asa cum trebuie, intrucat mie imi apareau fara acel "+" cand deschideam fisierul csv asa ca am cautat cum sa rezolv si o solutie fiabila mi-a parut sa adaug un apostrof la inceputul fiecarei observatii.

In [157]:
merged_companies_v1['phone'] = merged_companies_v1['phone'].apply(lambda x: f"'{x}" if x.startswith('+') else x)

> Am salvat fisierul in format csv fara a salva si coloana indecsilor si am folosit acest tip de enconding pentru a evita simbolurile unreadable

In [158]:
merged_companies_v1.to_csv('merged_companies_finallll.csv', sep=',', index=False, encoding='utf-8-sig')

> Aici am un mic P.S. de precizat: 

> Dupa cum o sa observati si in dataset, mai ales la final apar valorile in ceea ce priveste numele companiilor care contin simbolul "???". Acest lucru se datoreaza emoji-urilor prezente in dataset pe care le-am gestionat lasandu-le asa, o varianta alternativa fiind stergerea acestora, insa am considerat ca nu trebuie schimbate valorile in ceea ce priveste numele companiilor si este posibil sa imi arate doar mie acest simbol pentru ca am o versiune mai veche de Excel, poate pe versurile mai noi pot fi afisate si asemenea caractere.

> Am demonstrat aceasta situatie mai jos.

In [156]:
company_name_at_index = merged_companies_v1['company_name'].iloc[258767]
print(company_name_at_index)

🥇 Monsieur Store - Fenêtres - Volets - Portails - Toulouse - D.P.S.

>>> Acesta este proiectul. Va multumesc pentru oportunitatea de a lucra la el!